@media screen and (max-width: 576px) {
    .homeMainContainer {
        height: calc(100vh + 533vh) !important;
    }
    .tabsContainerCustomClass {
        padding-inline: 5px !important;
    }
    .myTabs {
        width: 100% !important;
    }
}