.singleFigImg {
    margin-right: 150px;
    margin-bottom: -75px;
}
.singleFigContainer {
    height: calc(100vh - 25vh) !important;
}

@media screen and (max-width: 576px) {
    .singleToyHeading {
        margin-top: 150px !important;
        margin-bottom: 55px !important
    }
    .singleToyDetailMainContainer {
        height: calc(100vh + 20vh) !important;
    }

    .singleFigImg,
    .singleFigContainer,
    .singleDetailDesc {
        width: 100% !important;
    }

    .singleFigImg {
        margin-right: 0;
        margin-bottom: 0;
    }

    .singleFigImg img {
        object-fit: cover;
    }

    .singleFigContainer p {
        margin-block: 5px !important;
    }

    .singleFigContainer button {
        margin-block: 20px;
    }

}