.qaContainer {
    height: calc(100vh - 10vh) !important;
}

@media screen and (max-width: 576px) {
    .qaContainer {
        height: calc(100vh + 33vh) !important;
    }

    .qaSection {
        width: 90% !important;
        margin-inline: auto;
    }
}

@media screen and (min-width: 992px) {
    .qaSection {
        max-width: 800px !important;
    }
}